@import url('https://rsms.me/inter/inter-ui.css');

/// General HTML/Body styles
/// border-boxing fix
html, body {
  //font-family: $font-sans;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  box-sizing: border-box;
  caret-color: $color-error;
  color: $black;
  height: 100%;
  min-height: 100%;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  outline: 0;
  box-sizing: inherit;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    outline: 0;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/* GENERAL STYLES */
body{
    font-family: 'Inter UI', sans-serif;
    font-weight: 500;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0px;
}

h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.43;
}

a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

p{
    font-size: 18px;
    margin: 10px 0px;
}


hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #f0f0f0;
    margin-top: 80px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

a:active, a:focus, a:hover{
    outline: none;
    text-decoration: none;
    color: $aubergineLight;
}

div.container{
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

p.subtitle{
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: calc(270px / 2);
}

.inner-container{
    width: 74%;
    margin: 0px auto;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

section p.subtitle + .btn{
    display: inline-block;
    margin-top: 35px;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

h1 + hr{
    margin-top: 30px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    .inner-container{
        width: 90%;
    }

    hr{
        margin-top: 50px;
    }
}



