.tag{
    font-size: 12px;
    line-height: 1.1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px 13px;
    color: #ffffff;
    display: inline-block;
    background-color: #f7296e;
    text-transform: uppercase;
}

.tag.tag-version{
    background-color: $aubergin;
}
.tag-primary {
  background-color: $magenta;
}
.tag.core-app{
    background-color: $grey;
}
.tag-secondary {
  background-color: $grey;
}
