{{ partial "header.html" . }}
<!--<div class="article-meta">-->
	<!--<h1><span class="title"></span></h1>-->
	<!--{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}-->
	<!--{{ if .Params.date }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}-->
<!--</div>-->
			<div class="single app">
				<div class="grid">
					<div class="app-icon">
						<img src="/icons/{{.Params.icon}}" alt="">
					</div>
					<div>
						<div class="app-wip">HACKATHON æpp</div>
						<div class="app-title">{{ .Title }}</div>
					</div>
				</div>
				<p class="app-description">{{ .Description }}</p>
				<div class="align-right">
					<a href='{{ .Params.githuburl }}' target='_blank' class='exciting button'>View on Github</a>
					<a href='{{ .Params.appurl }}' target='_blank' class='exciting button'>Launch æpp</a>
					<a href='{{ .Params.voteurl }}' target='_blank' class='button'>Vote in the Voting æpp</a>
				</div>
				{{ .Content }}

			</div>

{{ partial "footer.html" . }}
