/* GENERAL STYLES */
body{
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1{
    font-size: 40px;
	font-weight: 700;
    color: #1e1e1e;
    margin: 10px 0px;
}

h2{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    color: #1e1e1e;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #311b58;
}

p{
    font-size: 18px;
    margin: 10px 0px;
}


hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #f0f0f0;
    margin-top: 80px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

a:active, a:focus, a:hover{
    outline: none;
    text-decoration: none;
    color: #311b58;
}

div.container{
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

p.subtitle{
    font-size: 24px;
	line-height: 1.33;
	color: #1e1e1e;
}

.inner-container{
    width: 74%;
    margin: 0px auto;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

section p.subtitle + .btn{
    display: inline-block;
    margin-top: 35px;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

h1 + hr{
    margin-top: 30px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    .inner-container{
        width: 90%;
    }

    hr{
        margin-top: 50px;
    }
}

/* END OF GENERAL STYLES */


/* BUTTONS */
.btn{
    background-color: #f7296e;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    outline: none;
    color: #ffffff;
    padding: 12px 28px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.44;
    top: 0px;
    left: 0px;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn:hover, .btn:active, .btn:focus{
    top: -2px;
    left: -1px;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.1);
    -moz-box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.1);
}

.btn.btn-secondary{
    background-color: #311b58;
}

.btn.btn-third{
    background-color: #989898;
}

.btn.btn-small{
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 14px;
}

/* END OF BUTTONS */


/* APP-ICONS */
.app-icon{
    width: 64px;
    height: 64px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
	background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    background-color: #ffffff;
}

.app-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* END OF APP-ICONS */

/* TAGS */
.tag{
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px 13px;
    color: #ffffff;
    display: inline-block;
    background-color: #f7296e;
    text-transform: uppercase;
}

.tag.tag-version{
    background-color: #311b58;
}

.tag.core-app{
    background-color: #989898;
}
/* END OF TAGS */


/* CARDS */
.cards{
    margin-left: -15px;
    margin-right: -15px;
}

.cards .card-col{
    width: 33.3%;
    float: left;
    margin-bottom: 33px;
}

.cards .card{
    float: left;
    position: relative;
    padding: 20px;
    margin: 0px 15px;
    min-height: 335px;
    text-align: left;
	border-radius: 14px;
	-webkitborder-radius: 14px;
	-moz-border-radius: 14px;
    background-color: #f4f4f4;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.cards .card:hover{
    top: -4px;
    left: -2px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.15);
}

.cards .card img + span{
    display: block;
    margin: 30px 0px 10px 0px;
    font-size: 14px;
	font-weight: 500;
	color: #f7296e;
}

.cards .card strong{
    display: block;
    font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	text-align: left;
	color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
}

.cards .card img{
    position: absolute;
    top: 12px;
    right: 16px;
    width: 44px;
}

.cards .card .right{
    display: block;
    margin: 0px;
}

.cards .card .right .btn{
    display: inline-block;
}

.cards .card .tag{
    margin: 0px 0px 2px 0px;
}

.cards .card span.tag-wrapper{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

/* desktop only */
@media only screen and (min-width: 1024px){
    .cards .card-col.clearfix-lg{
        clear: both;
    }
}

/* tablet*/
@media only screen and (max-width: 1023px) and (min-width: 640px){
    .cards .card-col{
        width: 50%;
        margin-bottom: 20px;
    }

    .cards .card{
        max-width: 280px;
    }

    .cards .card-col.clearfix-md{
        clear: both;
    }    
}

/* mobile */
@media only screen and (max-width: 639px){
    .cards .card-col{
        float: none;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .cards .card{
        float: none;
        display: inline-block;
        max-width: 280px;
    }
}
/* END OF CARDS */



/* HEADER */
header{
    padding: 33px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    text-align: right;
}

header a{
    color: #311b58;
    display: inline-block;
    font-weight: 500;
    padding: 10px 0px;
}

header a.btn{
    margin-left: 21px;
}

header a.logo{
    display: block;
    position: absolute;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

header a.logo img{
    max-width: 100%;
}

#open-menu{
    display: none;
}

/* mobile */
@media only screen and (max-width: 639px){
    header a.logo + a, header a.btn{
        display: none;
    }

    #open-menu{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        padding: 0px;
        background-image: url("../icons/burger.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
    }
}
/* END OF HEADER */



/* HERO */
section.hero{
    padding: 20px 0px;
    background-image: linear-gradient(to bottom, #f1f4f7 55%, #ffffff);
    background-image: -webkit-linear-gradient(to bottom, #f1f4f7 55%, #ffffff);
}

section.hero h1{
    font-size: 60px;
    font-weight: 700;
    color: #311b58;
    text-align: left;
    width: 70%;
    margin-top: 300px;
    margin-bottom: 34px;
}

section.hero p{
    text-align: left;
    color:#1e1e1e;
    width:80%;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 90px;
}

section.hero .btn{
    display: inline-block;
}

section.hero h2{
    color: #311b58;
    margin: 0px;
}

section.hero .col{
    width: 33.3%;
    text-align: left;
    float: left;
}

section.hero .col p{
    margin-top: 10px;       
    font-size: 18px;
	line-height: 1.67;
    color:#311b58
}

section.hero div.container{
    position: relative;
}

div.circle{
    position: absolute;
    background-color: #311b58;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#circle-1{
    width: 295px;
    height: 300px;
    top: -139px;
    left: -86px;
    overflow: hidden;
}

#circle-1 span{
    font-size: 60px;
	font-weight: bold;
    text-align: left;
    display: block;
    position: absolute;
    color: white;
    top: 139px;
    left: 86px;
    width: 685px;
}

#circle-2{
    width: 84px;
    height: 84px;
    top: -140px;
    left: 290px;
}

#circle-3{
    width: 55px;
    height: 55px;
    top: 21px;
    right: 265px;
}

#circle-4{
    width: 34px;
    height: 34px;
    top: -80px;
    right: 141px;
}

#circle-5{
    width: 55px;
    height: 55px;
    top: -148px;
    left: 130px;
    overflow: hidden;
}

#circle-5::after{
    content: " ";
    position: absolute;
    width: 295px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    left: -216px;
    top: 9px;
}

/* small desktop */
@media only screen and (max-width: 1160px){
    #circle-3{
        right: 230px;
    }
}


/* tablet & mobile */
@media only screen and (max-width: 1023px){
    #circle-3{
        display: none;
    }

    section.hero{
        padding-bottom: 40px
    }
    
    section.hero p{
        width: 100%;
        margin-bottom: 30px;
    }

    section.hero .col{
        float: none;
        width: 100%;
        margin-bottom: 60px;
    }
}

/* mobile */
@media only screen and (max-width: 639px){
    
    section.hero h1{
        width: 100%;
        margin-top: 336px;
        font-size: 50px;
    }

    section.hero p{
        font-size: 18px;
        line-height: 1.67;
        color: #311b58;
    }

    #circle-1{
        top: -214px;
        left: -140px;
        width: 335px;
        height: 335px;
    }

    #circle-1 span{
        font-size: 50px;
        left: 140px;
        top: 214px;
    }

    #circle-2{
        left: initial;
        right: -49px;
        width: 94px;
        height: 94px;
        top: -165px;
    }
    
    #circle-4{
        display: none;
    }

    #circle-5{
        top: -220px;
        left: 91px;
    }

    #circle-5::after{
        left: -230px;
        top: 6px;
        width: 335px;
        height: 335px;
    }
}
/* END OF HERO */



/* IDENTITY MANAGER */
section.identity-manager{
    padding: 30px 0px;
    background-color: #f5f5f5;
    text-align: center;
}

section.identity-manager h2{
    font-size: 40px;
	font-weight: 700;
    color: #1e1e1e;
    margin: 10px 0px;
    margin-top: 177px;
}

section.identity-manager .btn{
    margin-bottom: 154px;
}

section.identity-manager .explore{
    display: inline-block;
    font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
    color: #311b58;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px;
}

section.identity-manager .explore::after{
    content:" ";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    top: 48px;
    left: 50%;
    margin-left: -9px;
    transition: top 0.3s ease-in-out;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
}

section.identity-manager .explore:hover::after{
    top: 53px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    section.identity-manager .btn{
        margin-bottom: 100px;
    }
}

/* mobile */
@media only screen and (max-width: 639px){
    
    section.identity-manager h2{
        margin-top: 70px;
        margin-bottom: 20px;
    }

}
/* END OF IDENTITY MANAGER */



/* FEATURES */
section.features{
    padding: 100px 0px;
}

section.features .feature{
    padding: 100px 0px;
    position: relative;
}

section.features .feature img{
    float: left;
    max-width: 262px;
    width: 45%;
}

section.features .feature h2{
    margin-top: 18px;
    margin-bottom: 10px;
}

section.features .feature p{
    font-size: 18px;
	line-height: 1.67;
	text-align: left;
	color: #1e1e1e;
}

section.features .feature .details{
    margin-left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

section.features .feature .details img{
    width: 43px;
    float: none;
    display: block;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    
    section.features{
        padding: 50px 0px;
    }

    section.features .feature{
        padding: 50px 0px;
    }
}

/* mobile */
@media only screen and (max-width: 639px){
    
    section.features .feature{
        text-align: center;
    }

    section.features .feature img{
        float: none;
        width: 100%;
        display: inline-block;
        margin-bottom: 50px;
    }

    section.features .feature .details{
        margin: 0px;
        text-align: left;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        position: static;
    }
    
    section.features .feature .details img{
        margin-bottom: 20px;
    }
}


/* END OF FEATURES */



/* CORE APPS */
section.core-apps{
    text-align: center;
}

section.core-apps h2{
    font-size: 40px;
	font-weight: 700;
    color: #1e1e1e;
    margin: 10px 0px;
}

section.core-apps .inner-container .btn{
    margin-bottom: 100px;
}

section.core-apps .app-box{
    width: 50%;
    float: left;
    padding: 190px 0px;
    text-align: left;
}

section.core-apps .apps-row{
    position: relative;
    overflow: hidden;
}

section.core-apps .apps-row::after{
    content: " ";
    background-color: #f5f5f5;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: -1;
}

section.core-apps .apps-row:nth-child(even)::after{
    left: 0%;
}

section.core-apps .apps-row .container .app-box{
    padding-left: 10%;
}

section.core-apps .apps-row .container .app-box:first-child{
    padding-left: 0px;
    padding-right: 15%;     
 }

section.core-apps .app-box h3{
    font-size: 30px;
	font-weight: 700;
    color: #311b58;
    margin: 20px 0px 5px 0px;
}

section.core-apps .app-box p{
	line-height: 1.67;
    color: #311b58;
    margin: 0px 0px 20px 0px;
}

section.core-apps .app-box .btn{
    display: inline-block;
    padding: 6px 28px;
}

section.core-apps .app-box .btn + .btn{
    margin-left: 10px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    
    section.core-apps .app-box{
        padding: 90px 0px;
    }

    section.core-apps .apps-row .container .app-box{
        padding-left: 8%;
    }

    section.core-apps .apps-row .container .app-box:first-child{
        padding-left: 0px;
        padding-right: 8%;
    }

    section.core-apps .app-box .btn + .btn{
        margin-left: 0px;
        margin-top: 10px;
    }
    
}


/* mobile */
@media only screen and (max-width: 639px){
    section.core-apps .app-box{
        width: 100%;
        float: none;
        display: block;
        padding: 90px 20px !important;
        position: relative;
    }

    section.core-apps .apps-row .container .app-box:nth-child(even):after{
        content: " ";
        position: absolute;
        height: 100%;
        background-color: #f5f5f5;
        top: 0px;
        left: -6%;
        right: -6%;
        z-index: -1;
    }

    section.core-apps .apps-row::after{
        content: none;
    }

}
/* END OF CORE APPS */



/* ALL APPS */
section.all-apps{
    text-align: center;
    padding: 200px 0px 100px 0px;
}

section.all-apps .subtitle + .btn{
    margin-bottom: 110px;
}

section.all-apps h2{
    font-size: 40px;
	font-weight: 700;
    color: #1e1e1e;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    section.all-apps{
        padding-bottom: 50px;
    }
}
/* END OF ALL APPS */



/* SOCIAL PROOF */
section.social-proof{
    text-align: center;
    padding: 100px 0px 200px 0px;
}

section.social-proof h2{
    font-size: 30px;
    font-weight: 500;
	line-height: 1.33;
    color: #1e1e1e;
    margin-bottom: 24px;
    margin-top: 14px;
}

section.social-proof img{
    width: 71px;
    display: inline-block;
}

section.social-proof span{
    display: block;
    font-size: 17px;
	line-height: 1.88;
	color: #1e1e1e;
}

section.social-proof .btn{
    display: inline-block;
    padding: 6px 28px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    section.social-proof{
        padding-top: 50px;
    }
}

/* mobile */
@media only screen and (max-width: 639px){
    section.social-proof{
        padding-bottom: 100px;
    }
}
/* END OF SOCIAL PROOF */



/* FOOTER */
footer{
    background-color: #f5f5f5;
    padding: 68px 0px 105px 0px;
    overflow: hidden;
    position: relative;
}

footer::before{
    content: " ";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background-color: #f7296e;
}

footer .container{
    position: relative;
}

footer .presentation{
    float: left;
    width: 20%;
}

footer .presentation a.logo{
    padding: 20px 0px 10px 0px;
}

footer img{
    display: inline-block;
	width: 171px;
}

footer .presentation p{
    font-size: 16px;
	line-height: 1.5;
    color: #1e1e1e;
    margin-bottom: 7px;
}

footer .presentation span a{
    font-size: 14px;
	line-height: 2.0;
	color: #1e1e1e;
}

footer .footer-nav{
    position: absolute;
    right: 0px;
    top: 0px;
}

footer .links{
    float: left;
    margin-left: 125px;
}

footer .links ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer .links ul li{
    margin-bottom: 10px
}

footer .links ul li a{
    position: relative;
    display: block;
    font-size: 16px;
	line-height: 1.5;
    color: #1e1e1e;
    padding: 4px 0px 4px 40px;
}

footer .links ul li img {
    position: absolute;
    width: 24px;
    top:50%;
    margin-top: -12px;
    left: 0px;
}

/* desktop only */
@media only screen and (min-width:1024px){
    footer .inner-container{
        width: initial;
        margin: initial;
    }
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    footer{
        padding-bottom: 58px;
    }

    footer .presentation{
        float: none;
        width: initial;
    }

    footer .presentation p{
        margin-bottom: 2px;
    }

    footer .footer-nav{
        position: static;
    }

    footer footer-nav .links:first-child{
        margin-left: 0px;
    }

    footer .links{
        margin: 0px;
    }

    footer .links.icons{
        float: left;
        width: 50%;
    }

    footer .links.menu{
        float: none;
        margin: 50px 0px 55px 0px;
    }

    footer .links.menu + .links{
        margin: 0px;
    }

    footer .links.links.menu ul li a{
        padding: 4px 0px;
    }
}
/* END OF FOOTER */

/* HERO-SINGLE */
section.hero-single{
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px 0px 50px 0px;
}

section.hero-single .app-icon{
    margin-top: 115px;
}

section.hero-single p + .btn{
    margin-bottom: 50px;
}

section.hero-single .tag{
    margin-right: 10px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){

    section.hero-single{
        padding-bottom: 34px;
    }

    section.hero-single .app-icon{
        margin: 97px 0px 13px 0px;
    }

    section.hero-single p + .btn{
        margin: 33px 0px;
    }
}

/* END OF HERO-SINGLE */


/* APP-REVIEW */
section.app-review{
    padding: 80px 0px 100px 0px;
}

section.app-review .icons{
    text-align: center;
    margin-bottom: 80px;
}

section.app-review .icons a{
    display: inline-block;
    margin-left: 29px;
}

section.app-review .icons img{
    width: 24px;
}

section.app-review .icons a:first-child{
    margin-left: 0px;
}

section.app-review h2{
    margin-top: 50px;
    color: #311b58;
    margin-bottom: 9px;
    text-align: left;
}

section.app-review p{
    font-size: 20px;
    line-height: 1.7;
    text-align: left;
    color: #1e1e1e;
    text-align: left;
}

section.app-review hr + h2{
    margin-top: 30px;
}

section.app-review .screenshots{
    margin: 30px -10px 0px -10px;
}

section.app-review .screenshots img{
    width: 25%;
    float: left;
    padding: 0px 0px 0px 10px;
    outline: none;
    padding-top: 5px;
}

section.app-review .cards + .center .btn{
    margin-top: 100px;
    display: inline-block;
}

section.app-review .cards{
    margin-top: 25px;
}

/* tablet & mobile */
@media only screen and (max-width: 1023px){
    section.app-review{
        padding: 51px 0px 80px 0px;
    }

    section.app-review h2{
        margin-bottom: 11px;
    }

    section.app-review .icons{
        margin-bottom: 50px;
    }

    section.app-review hr + h2{
        margin-bottom: 24px;
    }

    section.app-review .cards + .center .btn{
        margin-top: 80px;
    }
}
/* END OF APP-REVIEW */


/* IMPRINT */
section.imprint{
    text-align: left;
    padding: 100px 0px;
}

section.imprint h1{
    margin-top: 13px;
}

section.imprint h2{
    color: #311b58;
    margin-bottom: 9px;
}

section.imprint hr{
    margin-bottom: 30px
}

section.imprint p{
    margin-bottom: 60px;
}

section.imprint .contacts{
    font-size: 28px;
	line-height: 1.43;
    color: #1e1e1e;
    margin-bottom: 100px;
    
}

section.imprint .contacts strong{
    display: block;
    font-weight: 700;
}

section.imprint .contacts span{
    display: block;
}
/* END OF IMPRINT */



/* OVERVIEW */
section.overview{
    text-align: left;
    padding: 100px 0px;
}

section.overview .inner-container{
    position: relative;
}

section.overview .cards{
    margin-top: 66px;
    margin-bottom: 100px;
}

/* mobile */
@media only screen and (max-width: 639px){
    section.overview h1 + hr{
        margin-top: 65px;
    }

    section.overview .filter{
        top: 55px;
        width: 100%;
    }
}
/* END OF OVERVIEW */


/* FILTER */
.filter{
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 10;
    background-color: #ffffff;
    width: 335px;
    right: 0px;
    top: 22px;
    font-size: 14px;
	text-align: right;
    color: #000000;
    overflow: hidden;
    cursor: pointer;
}

.filter.active{
    box-shadow: 0 2px 8px 0 rgba(60, 60, 60, 0.1);
    -webkit-box-shadow: 0 2px 8px 0 rgba(60, 60, 60, 0.1);
    -moz-box-shadow: 0 2px 8px 0 rgba(60, 60, 60, 0.1);
}

.filter span.current{
    position: relative;
    padding: 17px 0px;
    display: block;
    font-size: 18px;
	font-weight: 500;
    color: #1e1e1e;
    margin-right: 30px;
}

.filter span.current::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../icons/chevron-down.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -10px;
    right: -30px;
}

.filter.active span.current{
    display: none;
}



.filter ul{
    display: none;
    list-style: none;
    padding: 0px;
    text-align: center;
}

.filter.active ul{
    display: block;
    margin: 0px;
}

.filter ul li{
    padding: 17px 0px;
}

.filter ul li:hover{
    background-color: #f5f5f5;
}
/* END OF FILTER */


/* VIDEO WRAPPER */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* END OF VIDEO WRAPPER */