section.imprint{
    text-align: left;
    padding: 100px 0px;
}

section.imprint h1{
    margin-top: 13px;
}

section.imprint h2{
    color: #311b58;
    margin-bottom: 9px;
}

section.imprint hr{
    margin-bottom: 30px
}

section.imprint p{
    margin-bottom: 60px;
}

section.imprint .contacts{
    font-size: 28px;
	line-height: 1.43;
    color: #1e1e1e;
    margin-bottom: 100px;

}

section.imprint .contacts strong{
    display: block;
    font-weight: 700;
}

section.imprint .contacts span{
    display: block;
}