<div class="app-box">
    <!--
    <div class="app-icon">
        <img src="/icons/{{ .icon }}">
    </div>
    -->
    {{ if .tag }}
      <div class="app-status">
          <span class="tag tag-version">
            {{ .tag }}
          </span>
        {{ with .network }}
          <br>
          <span class="tag tag-{{ if .current }}primary{{ else }}secondary{{ end }}">
            {{ .title }}
          </span>
        {{ end }}
      </div>
    {{ end }}
    <h3>{{ .name }}</h3>
    <p>{{ .description }}</p>

    {{ if .appUrl }}
    <div class="btn-group">
      <a
        href="/aepps/{{ .urlName }}"
        class="btn btn-secondary btn-group__btn">
        More info
      </a>
      <a
        href="{{ .appUrl }}"
        class="btn btn-primary btn-group__btn">
        Launch
      </a>
    </div>
    {{ else}}
      <a href="/aepps/{{ .urlName }}" class="btn btn_round btn-secondary">More info</a>
    {{ end }}

</div>
