<div class="app-box">
    <!--
    <div class="app-icon">
        <img src="/icons/{{ .icon }}">
    </div>
    -->
    {{ if .tag }}
      <div class="app-status">
          <span class="tag tag-version">
            {{ .tag }}
          </span>
        {{ with .network }}
          <span class="tag tag-{{ if .current }}primary{{ else }}secondary{{ end }}">
            {{ .title }}
          </span>
        {{ end }}
      </div>
    {{ end }}
    <article class="app-box__content">
      <h3>{{ .name }}</h3>
      <p>{{ .description }}</p>

    {{ if .appUrl }}
      <div class="btn-wrapper btn-wrapper_left">
        <a
          href="{{ .appUrl }}"
          class="btn btn_round btn-primary">
          Launch
        </a>
      </div>
      {{ end }}
      </article>
</div>
