</main>

<footer class="footer clearfix">
    <div class="container">
        <div class="inner-container">
            <div class="presentation">
                <!--
                <a class="logo" href="https://www.aeternity.com/" target="_blank">
                    <img src="/img/logo.svg" alt="">
                </a>
                -->
                <p>æpps.</p>
                <p>Blockchain for humans.</p>
                <p>Built on æternity.</p>
                <!--
                <span>
                    <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                </span>
                -->
            </div>

            <div class="footer-nav">
                <div class="links menu">
                    <ul>

                       <!--  <li>
                            <a href="/aepps">All æpps</a>
                        </li> -->

                        <li>
                            <a href="https://dev.aepps.com/">Developer</a>
                        </li>
                        <li>
                            <a href="/imprint">Imprint</a>
                        </li>
                    </ul>
                </div>
                <div class="links icons">
                    <ul>
                        <li>
                            <a href="https://github.com/aeternity" target="_blank">
                                <img src="/icons/ic-github-white.svg" alt="Github">Github</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/Aeternity" target="_blank">
                                <img src="/icons/ic-reddit-white.svg" alt="Reddit">Reddit</a>
                        </li>
                        <li>
                            <a href="https://blog.aeternity.com" target="_blank">
                                <img src="/icons/ic-medium-white.svg" alt="Medium">Medium</a>
                        </li>
                    </ul>
                </div>
                <div class="links icons">
                    <ul>
                        <li>
                            <a href="https://telegram.me/aeternity" target="_blank">
                                <img src="/icons/ic-telegram-white.svg" alt="Telegram">Telegram</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/aeternityproject" target="_blank">
                                <img src="/icons/ic-facebook-white.svg" alt="Facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/aeternity" target="_blank">
                                <img src="/icons/ic-twitter-white.svg" alt="Twitter">Twitter</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</footer>

<script src="/js/scripts.min.js"></script>

</body>

</html>
