</main>

<footer class="clearfix">
    <div class="container">
        <div class="inner-container">
            <div class="presentation">
                <a class="logo" href="https://www.aeternity.com/" target="_blank">
                    <img src="/img/logo-big.svg" alt="">
                </a>
                <p>Scalable smart contracts interfacing with real world data</p>
                <span>&copy;
                    <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                </span>
            </div>


            <div class="footer-nav">
                <div class="links menu">
                    <ul>
                        <li>
                            <a href="/aepps">All æpps</a>
                        </li>
                        <li>
                            <a href="https://dev.aepps.com/">Developer</a>
                        </li>
                        <li>
                            <a href="/imprint">Imprint</a>
                        </li>
                    </ul>
                </div>
                <div class="links icons">
                    <ul>
                        <li>
                            <a href="https://github.com/aeternity" target="_blank">
                                <img src="/icons/ic-github.svg" alt="Github">Github</a>
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/Aeternity" target="_blank">
                                <img src="/icons/ic-reddit.svg" alt="Reddit">Reddit</a>
                        </li>
                        <li>
                            <a href="https://blog.aeternity.com" target="_blank">
                                <img src="/icons/ic-medium.svg" alt="Medium">Medium</a>
                        </li>
                        <li>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc61kY-707G616uFq96Nt3pGc1n7XDaUgEsvzANsot7x3fC2w/viewform" target="_blank">
                                <img src="/icons/ic-slack.svg" alt="Slack">Slack</a>
                        </li>
                    </ul>
                </div>
                <div class="links icons">
                    <ul>
                        <li>
                            <a href="https://telegram.me/aeternity" target="_blank">
                                <img src="/icons/ic-telegram.svg" alt="Telegram">Telegram</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/aeternityproject" target="_blank">
                                <img src="/icons/ic-facebook.svg" alt="Facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/aetrnty" target="_blank">
                                <img src="/icons/ic-twitter.svg" alt="Twitter">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/aeternity" target="_blank">
                                <img src="/icons/ic-linkedin.svg" alt="LinkedIn">LinkedIn</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</footer>


<script src="/js/scripts.min.js"></script>

</body>

</html>
