<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aeternity aepps Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/styles.css">


    <script>
        /* Create HTML5 elements for IE's sake */
        document.createElement("footer");
        document.createElement("header");
        document.createElement("section");
        document.createElement("main");
        document.createElement("nav");
    </script>

</head>

<body class="cbp-spmenu-push">

    <header>
        <div class="container">
            <a class="logo" href="./">
                <img src="../static/img/logo.svg" alt="Aeternity">
            </a>

            <a href="#all-aepps">All æpps</a>
            <a href="" class="btn">Developer</a>

            <button id="open-menu" class="btn"></button>
        </div>
    </header>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <div class="container">
            <button id="close-menu"></button>
            <ul>
                <li>
                    <a href="#">All æpps</a>
                </li>
                <li>
                    <a href="#">Developer</a>
                </li>
            </ul>

            <div class="secondary-links">
                <a href="">Imprint</a>
            </div>

            <div class="sidebar-icons">
                <div>
                    <a href="">
                        <img src="../static/icons/ic-github-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-medium-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-telegram-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-twitter-white.svg" alt="">
                    </a>
                </div>

                <div>
                    <a href="">
                        <img src="../static/icons/ic-reddit-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-slack-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-facebook-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-linkedin-white.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </nav>

    <main>
        <section class="imprint">
            <div class="container">
                <div class="inner-container">
                    <h1>Imprint</h1>
                    <hr>
                    <div class="contacts">
                        <strong>Aeternity Establishment</strong>
                        <span>Landstr. 123</span>
                        <span>FL-9495 Triesen</span>
                        <span>info@aeternity.com</span>
                        <span>PEID / Steuernummer: 2528358</span>
                    </div>

                    <h2>Hinweise zum Datenschutz</h2>
                    <p>hr Vertrauen ist uns wichtig. Deshalb respektieren wir den Datenschutz und informieren Sie über die erhobenen
                        und gespeicherten Daten und Ihre Rechte auf Auskunft, Berichtigung, Sperrung und Löschung.</p>

                    <h2>The future</h2>
                    <p>Improving upon the original idea of a “notary”, the Proof æpp creates a trustless environment within
                        various levels of legal transactions by serving as a virtual 3rd party to verify existence. Although
                        there are many possible future applications, Proof could ultimately become a kind a patent office
                        for new ideas, artworks, and algorithms. This could serve to authenticate, legalize and originate
                        all manner of literal and intellectual property.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="clearfix">
        <div class="container">
            <div class="inner-container">
                <div class="presentation">
                    <a class="logo" href="https://www.aeternity.com/" target="_blank">
                        <img src="../static/img/logo-big.svg" alt="">
                    </a>
                    <p>Scalable smart contracts interfacing with real world data</p>
                    <span>&copy;
                        <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                    </span>
                </div>


                <div class="footer-nav">
                    <div class="links menu">
                        <ul>
                            <li>
                                <a href="">All æpps</a>
                            </li>
                            <li>
                                <a href="">Developer</a>
                            </li>
                            <li>
                                <a href="">Imprint</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-github.svg" alt="">Github</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-reddit.svg" alt="">Reddit</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-medium.svg" alt="">Medium</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-slack.svg" alt="">Slack</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-telegram.svg" alt="">Telegram</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-facebook.svg" alt="">Facebook</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-twitter.svg" alt="">Twitter</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-linkedIn.svg" alt="">LinkedIn</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </footer>

    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>