{{ partial "header.html" . }}


<section class="hero">

	<div class="container clearfix">
		<div class="circle" id="circle-1">
			<span>{{ .Params.headline}}</span>
		</div>
		<div class="circle" id="circle-2"></div>
		<div class="circle" id="circle-3"></div>
		<div class="circle" id="circle-4"></div>
		<div class="circle" id="circle-5"></div>
		<h1>{{ .Params.headline }}</h1>
		<p>æternity exists and grows because of you, the active community. With every new miner, node operator and interested user, the ecosystem becomes stronger and more decentralized. Curious what æpps can do? Or how to contribute as a developer? Welcome.</p>

		<div class="col">
			<h2>Use æpps</h2>
			<p>Step into the æternity ecosystem and explore æpps. Follow the progress of our ecosystem and put the power of the æternity blockchain to work.</p>
		</div>

		<div class="col">
			<h2>For Developers</h2>
			<p>While the æternity blockchain matures, intuitive and open-source æternity SDK tools are being developed. Discover how you can make an impact.</p>
		  <div class="btn-wrapper btn-wrapper_left">
        <a href="https://dev.aepps.com/" class="btn btn_round" target="_blank">Developer tools</a>
      </div>
    </div>
	</div>
</section>

<section class="identity-manager">
	<div class="container">
		<div class="inner-container">
			<h2>Base æpp</h2>
			<!--
			<span class="tag core-app">base æpp</span> <span class="tag tag-version">beta</span>
			-->
			<p class="subtitle">
			  Base æpp is where you begin. Send & receive AE with the wallet. Create and manage dedicated accounts to safely store AE, to experiment and fuel æpps.
			</p>
			<!--
			<a href="https://identity.aepps.com" class="btn btn-small" target="_blank">Launch</a>
			-->
			<div>
				<span class="explore">Explore features</span>
			</div>
		</div>
	</div>
</section>

<section class="features">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>Core Features</h2>
        <p class="subtitle">With Base æpp running on the æternity blockchain, we are continuously building, testing and releasing new features. The fundamentals are here. The future is around the corner.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
	<div class="container">
		<div class="inner-container inner-container_wide">
			<div class="feature clearfix" id="first-feature">
        <figure>
          <img src="/img/01-accounts.png" alt="features-accounts">
        </figure>
				<div class="details">
					<!--
					<img src="/icons/identities.svg" alt="">
					-->
					<h2>Accounts</h2>
					<p>
            Create dedicated subaccounts in seconds.
          </p>
          <ul class="feature__list">
            <li class="feature__list-item">Safely store AE</li>
            <li class="feature__list-item">Experiment with æpps</li>
            <li class="feature__list-item">Connect to AirGap Vault</li>
          </ul>
				</div>
			</div>

			<div class="feature clearfix">
				<figure>
          <img src="/img/02-wallet.png" alt="features-currencies">
        </figure>
				<div class="details">
          <!--
          <img src="/icons/identities.svg" alt="">
          -->
          <h2>Wallet</h2>
          <p>
            Send and receive AE effortlessly.
          </p>
          <ul class="feature__list">
            <li class="feature__list-item">Send AE in an instant</li>
            <li class="feature__list-item">Receive AE by sharing your address</li>
            <li class="feature__list-item">Transfer AE between main and subaccounts</li>
          </ul>
        </div>
			</div>
<!--
			<div class="feature clearfix">
				<img src="/img/features-browse.png" alt="features-browse">
				<div class="details">

					<img src="/icons/launch.svg" alt="">

					<h2>Browse æpps</h2>
					<p>It is the initial gateway through which you can access all the resources and avenues that have
						been developed on top of the æternity blockchain. The Base æpp gives you access to all
						our æpps. And also external ones.</p>
				</div>
			</div> -->
		</div>
	</div>
</section>
<section class="handle-funds">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>Securing your AE</h2>
        <p class="subtitle">The AE token fuels æpps. There are several ways to secure and handle your AE.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-container inner-container_wide">
      <div class="handle-funds__cta-item">
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/base-aepp.png" alt="base aepp screen">
          </figure>
          <section class="cta-item__info">
            <h3>Base æpp</h3>
            <p>Creates and manages accounts which have a wallet function to send and receive AE. Base æpp currently only runs in a mobile browser, so we recommend to limit the amount of AE stored here.</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
              <a href="https://base.aepps.com/#/" class="btn btn_round btn-primary" target="_blank">Launch Base æpp</a>
            </div>
          </footer>
        </article>
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/airgap.png" alt="airgap wallet screen">
          </figure>
          <section class="cta-item__info">
            <h3>AirGap Vault</h3>
            <p>Secure your AE using an offline mobile device or your primary phone. Vault stores your private keys securely and can sign transactions created by Base æpp or AirGap Wallet app.</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
                <a href="https://airgap.it/airgap-vault/" class="btn btn_round btn-secondary" target="_blank">Visit Airgap</a>
            </div>
          </footer>
        </article>
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/ledger.png" alt="ledger device">
          </figure>
          <section class="cta-item__info">
            <h3>Ledger Nano S</h3>
            <p>Store your funds on this dedicated hardware device. You now can create an æternity account from the Ledger Live desktop application.</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
              <a href="https://www.ledger.com/pages/ledger-live" class="btn btn_round btn-third" target="_blank">Install Ledger Live</a>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </div>

</section>
<section class="core-apps">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>æpps</h2>
        <p class="subtitle">Explore the æpps powered by the æternity blockchain or the æternity ERC20 token.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
	<div class="apps">
		<div class="apps-row">
			<div class="container">

				{{ range .Params.coreAppsFirstRow }}
					{{ partial "app-box.html" (index $.Site.Data.aepps .)}}
				{{ end }}

			</div>
		</div>

		<div class="apps-row">
			<div class="container">
				{{ range .Params.coreAppsSecondRow }}
					{{ partial "app-box.html" (index $.Site.Data.aepps .)}}
				{{ end }}
			</div>
		</div>
	</div>
  <div class="apps-row">
      <div class="container">
        {{ range .Params.coreAppsThirdRow }}
          {{ partial "app-box.html" (index $.Site.Data.aepps .)}}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="future-apps">
  <div class="container">
    <div class="inner-container">
      <figure class="future-apps__media">
        <img src="/img/future-apps.png">
      </figure>
      <div class="intro future-apps__text">
        <h2>Where this is heading </h2>
        <p class="subtitle">æternity has only just begun. With your help and input, this portal will grow into the decentralized home for æpps. You will find guidance for your participation here. And in the future, æpps will be submitted and upvoted by the community.
        </p>
      </div>
    </div>
  </div>
</section>

<!--
<section class="all-apps">
	<div class="container">
		<div class="inner-container">
			<h2>Experimental Example æpps</h2>
			<p class="subtitle">Together with our community we are constantly concepting, designing and developing new æpps that harness
				the power of blockchain. Check out a full list here or add them in the Base æpp. </p>
			<a href="/aepps" class="btn btn-small">all æpps</a>

			<div class="cards clearfix">
				{{ range .Params.homePageAppCards }}
					{{ partial "card.html" (index $.Site.Data.aepps  .) }}
                {{ end }}
			</div>
		</div>
	</div>
</section>
-->

<section class="social-proof">
	<div class="container">
		<!--
		<div class="inner-container">
			<picture>
				<!-[if IE 9]><video style="display: none;"><![endif]->
				<source srcset="/img/oval@2x.png" media="(min-resolution: 2dppx)">
				<source srcset="/img/oval@2x.png" media="(-webkit-min-device-pixel-ratio: 2)">
				<source srcset="/img/oval@2x.png" media="(min-device-pixel-ratio: 2)">
				<source srcset="/img/oval@3x.png" media="(min-resolution: 3dppx)">
				<source srcset="/img/oval@3x.png" media="(-webkit-min-device-pixel-ratio: 3)">
				<source srcset="/img/oval@3x.png" media="(min-device-pixel-ratio: 3)">
				<source srcset="/img/oval.png">
				<!-[if IE 9]></video><![endif]->
				<img src="/img/oval.png">
			</picture>
			<span>Nils, creator of OÆuth</span>
			<h2>“OÆuth provides trustless authentication. I want people to login with æternity while keeping full control over their data.”</h2>
			<a href="/aepps/oaeuth" class="btn btn-secondary btn-small">View OÆuth</a>
		</div>
		-->
		<!-- <div class="inner-container">
			<p class="subtitle" style="color: #f7296e">
				Some æpps are temporarily disabled while we are porting them from the Ethereum network to our æternity network. Stay tuned for updates!
			</p>
		</div> -->
	</div>
</section>

{{ partial "footer.html" . }}
