<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aeternity aepps Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script>
        /* Create HTML5 elements for IE's sake */
        document.createElement("footer");
        document.createElement("header");
        document.createElement("section");
        document.createElement("main");
    </script>

</head>

<body>

    <header>
        <div class="container">
            <a class="logo" href="./">
                <img src="../static/img/logo.svg" alt="Aeternity">
            </a>

            <a href="#all-aepps">All æpps</a>
            <a href="" class="btn">Developer</a>
        </div>
    </header>

    <main>
        <section class="hero">
            
            <div class="container">
                    <div class="circle" id="circle-1"><span>Activate the power of the æternity æpp ecosystem</span></div>
                    <div class="circle" id="circle-2"></div>
                    <div class="circle" id="circle-3"></div>
                    <div class="circle" id="circle-4"></div>
                    <div class="circle" id="circle-5"></div>
                <h1>Activate the power of the æternity æpp ecosystem</h1>
                <p>While the core team develops the raw potential of the Aeternity blockchain, we are focused on creating tools
                    that activate its full potential. Our work supports two important types of users: consumers and developers.
                    This site is dedicated to showcasing both development resources and dynamically useful applications for
                    use within our growing community.</p>

                <div class="col">
                    <a href="./" class="btn">Get started as a dev</a>
                </div>

                <div class="col">
                    <h3>Capabilities</h3>
                    <p>Here you will find examples, input, inspiration and tools. By developing prototypes as well as final
                        applications we hope to inspire your participation in the revolutionary realities of blockchain.</p>
                </div>

                <div class="col">
                    <h3>Ecosystem</h3>
                    <p>Our goal is to lay foundations for a healthy, ongoing project ecosystem. With the blockchain as the core
                        product and the ecosystem being developed on top, we work to ensure that each project reaches its
                        full potential.</p>
                </div>
            </div>
        </section>

        <section class="identity-manager">
            <div class="container">
                <div class="inner-container">
                    <h2>The Identity Manager</h2>
                    <p class="subtitle">The Identity Manager is the browser or central control that facilitates the creation and management of
                        the identities used to sign into all æpps. This is the frame of the entire aeternity user experience
                        serving as digital home base.</p>
                    <a href="./" class="btn btn-small">Launch</a>
                    <div>
                        <a href="#first-feature" class="explore">Explore features</a>
                    </div>

                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <div class="inner-container">
                    <div class="feature clearfix" id="first-feature">
                        <img src="../static/img/features-identities.svg" alt="">
                        <div class="details">
                            <img src="../static/icons/identities.svg" alt="">
                            <h3>Manages Identities</h3>
                            <p>Identity Manger is your first ability to participate in and contribute to our blockchain ecosystem.
                                You can easily create as many identities as you wish based on your activity preferences.</p>
                        </div>
                    </div>

                    <div class="feature clearfix">
                        <img src="../static/img/features-currency.svg" alt="">
                        <div class="details">
                            <img src="../static/icons/currency.svg" alt="">
                            <h3>Activates Currency</h3>
                            <p>This core app allows you to use tokens in real time. Forming the basis for the only non-theoretical
                                way to utilize this currency, your key identifies your transactions and keeps a transaction
                                history on the chain.</p>
                        </div>
                    </div>

                    <div class="feature clearfix">
                        <img src="../static/img/features-launch.svg" alt="">
                        <div class="details">
                            <img src="../static/icons/launch.svg" alt="">
                            <h3>Launches Apps</h3>
                            <p>It is the initial gateway through which you can access all the resources and avenues that have
                                been developed on top of the Aeternity blockchain. Identity Manager gives you access to all
                                our apps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="core-apps">
            <div class="container">
                <div class="inner-container">
                    <h2>Our Core æpps</h2>
                    <p class="subtitle">Our core apps are available to you from the beginning giving you original access to lots of foundational
                        functionality.
                    </p>
                    <a href="./" class="btn btn-small">all æpps</a>
                </div>
            </div>

            <div class="apps">

                <div class="apps-row">
                    <div class="container">
                        <div class="app-box">

                            <div class="app-icon">
                                <img src="../static/icons/transfer.svg" alt="">
                            </div>
                            <h3>Transfer æpp</h3>
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget
                                metus. Aenean lacinia bibendum nulla sed consectetur.</p>

                            <a href="" class="btn btn-small btn-secondary">More info</a>
                            <a href="" class="btn btn-small">Launch</a>

                        </div>
                        <div class="app-box">

                            <div class="app-icon">
                                <img src="../static/icons/diary.svg" alt="">
                            </div>
                            <h3>Address Book</h3>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus
                                ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                                venenatis vestibulum.</p>
                            <a href="" class="btn btn-small btn-secondary">More info</a>

                        </div>
                    </div>
                </div>

                <div class="apps-row">
                    <div class="container">
                        <div class="app-box">

                            <div class="app-icon">
                                <img src="../static/icons/response.svg" alt="">
                            </div>
                            <h3>Blockchain Explorer</h3>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

                            <a href="" class="btn btn-small btn-secondary">More info</a>
                            <a href="" class="btn btn-small">Launch</a>

                        </div>
                        <div class="app-box">

                            <div class="app-icon">
                                <img src="../static/icons/response.svg" alt="">
                            </div>
                            <h3>Messenger</h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                                live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                                a large language ocean. </p>
                            <a href="" class="btn btn-small btn-secondary">More info</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="all-apps">
            <div class="container">
                <div class="inner-container">
                    <h2>All æpps</h2>
                    <p class="subtitle">Together with our community we are constantly concepting, designing and developing new apps that harness
                        the power of blockchain. Check out a full list here or add them in Identity Manager. </p>
                    <a href="./" class="btn btn-small">all æpps</a>
                </div>

                <div class="cards">
                    <div class="card">
                        <img src="../static/icons/response.svg" alt="">
                        <span>Voting</span>
                        <h3>Propose something and put it to a vote in the community.</h3>
                        <div class="right">
                            <a href="" class="btn btn-small btn-secondary btn-square">BETA</a>
                        </div>
                        <div class="right">
                            <a href="" class="btn btn-small btn-square">ETHEREUM MAIN NET</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../static/icons/message-wall.svg" alt="">
                        <span>The Wall</span>
                        <h3>Post a piece of content and receive contributions.</h3>
                        <div class="right">
                            <a href="" class="btn btn-small btn-square btn-secondary">PRE-ALPHA</a>
                        </div>
                        <div class="right">
                            <a href="" class="btn btn-small btn-square">KOVAN TEST NET</a>
                        </div>

                    </div>
                    <div class="card">
                        <img src="../static/icons/notary.svg" alt="">
                        <span>Proof</span>
                        <h3>Prove something existed at a certain point in time.</h3>
                        <div class="right">
                            <a href="" class="btn btn-small btn-square btn-secondary">ALPHA</a>
                        </div>
                        <div class="right">
                            <a href="" class="btn btn-small btn-square">KOVAN TEST NET</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="social-proof">
            <div class="container">
                <div class="inner-container">
                    <span>Nils, creator of OÆuth</span>
                    <h2>“I made OÆuth because I think that logging in with Facebook is a SCAM!”</h2>
                    <a href="./" class="btn btn-secondary btn-small">More info</a>
                </div>
            </div>

        </section>
    </main>

    <footer class="clearfix">
        <div class="container">
            <div class="presentation">
                <a class="logo" href="https://www.aeternity.com/" target="_blank">
                    <img src="../static/img/logo-big.svg" alt="">
                </a>
                <p>Scalable smart contracts interfacing with real world data</p>
                <span>&copy;
                    <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                </span>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-telegram.svg" alt="">Telegram</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-facebook.svg" alt="">Facebook</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-twitter.svg" alt="">Twitter</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-linkedIn.svg" alt="">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-github.svg" alt="">Github</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-reddit.svg" alt="">Reddit</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-medium.svg" alt="">Medium</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../static/icons/ic-slack.svg" alt="">Slack</a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <ul>
                    <li>
                        <a href="">All æpps</a>
                    </li>
                    <li>
                        <a href="">Developer</a>
                    </li>
                    <li>
                        <a href="">Imprint</a>
                    </li>
                </ul>
            </div>


        </div>
    </footer>

    <script>
        
        window.onload = function() {
            var event = new Event('resize');
            
            window.addEventListener('resize',function(){
                
                var span=document.querySelector('#circle-1 span');
                var heading=document.querySelector('.hero h1');
                var headingWidth=heading.offsetWidth;
                
                span.style.width = headingWidth+'px';
            });

            window.dispatchEvent(event);
        };
        

    </script>
</body>

</html>