{{ partial "header.html" . }}


<section class="hero">

	<div class="container clearfix">
		<div class="circle" id="circle-1">
			<span>{{ .Params.headline}}</span>
		</div>
		<div class="circle" id="circle-2"></div>
		<div class="circle" id="circle-3"></div>
		<div class="circle" id="circle-4"></div>
		<div class="circle" id="circle-5"></div>
		<h1>{{ .Params.headline }}</h1>
		<p>While the core team develops the raw potential of the æternity blockchain, we are focused on creating tools
			that activate its full potential. Our work supports two important types of users: consumers and developers.
			This site is dedicated to showcasing both development resources and dynamically useful applications for
			use within our growing community.</p>

		<div class="col">
			<h2>Capabilities</h2>
			<p>Here you will find examples, input, inspiration and tools. By developing prototypes as well as final
				applications we hope to inspire your participation in the revolutionary realities of blockchain.</p>
		</div>

		<div class="col">
			<h2>Ecosystem</h2>
			<p>Our goal is to lay foundations for a healthy, ongoing project ecosystem. With the blockchain as the core
				product and the ecosystem being developed on top, we work to ensure that each project reaches its
				full potential.</p>
		</div>
	</div>
</section>

<section class="identity-manager">
	<div class="container">
		<div class="inner-container">
			<h2>The Base æpp</h2>
			<!--
			<span class="tag core-app">base æpp</span> <span class="tag tag-version">beta</span>
			-->
			<p class="subtitle">
			  The Base æpp is the browser or central control that facilitates the creation and management of the accounts used to sign into all æpps. Because the æternity test net is still under intense development, this digital home base runs from the Kovan test net and initiates the entire æternity user experience.
			  <br>
			  <br>
			  To ensure the security of your token balances do not under any circumstance import your secrets and private keys while using the Base æpp during this extremely foundational time.
			</p>
			<!--
			<a href="https://identity.aepps.com" class="btn btn-small" target="_blank">Launch</a>
			-->
			<div>
				<span class="explore">Explore features</span>
			</div>
		</div>
	</div>
</section>

<section class="features">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>Core Features</h2>
        <p class="subtitle">Our Core Features are available to you from the beginning giving you original access to lots of foundational
          functionality.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
	<div class="container">
		<div class="inner-container inner-container_wide">
			<div class="feature clearfix" id="first-feature">
        <figure>
          <img src="/img/01-accounts.png" alt="features-accounts">
        </figure>
				<div class="details">
					<!--
					<img src="/icons/identities.svg" alt="">
					-->
					<h2>Accounts</h2>
					<p>
            You can easily create multiple accounts.
            For different purposes. Also to migrate AE tokens from Ethereum to the æternity Mainnet.
          </p>
          <ul class="feature__list">
            <li class="feature__list-item">Create as many accounts as you wish</li>
            <li class="feature__list-item">Connect Base æpp to AirGap Vault</li>
            <li class="feature__list-item">Check your to be migrated tokens</li>
          </ul>
				</div>
			</div>

			<div class="feature clearfix">
				<figure>
          <img src="/img/02-wallet.png" alt="features-currencies">
        </figure>
				<div class="details">
          <!--
          <img src="/icons/identities.svg" alt="">
          -->
          <h2>Wallet</h2>
          <p>
            With the Base æpp Wallet you can send and receive AE using your mobile phone.
          </p>
          <ul class="feature__list">
            <li class="feature__list-item">Quickly send funds anywhere</li>
            <li class="feature__list-item">Move AE between Main & Sub Accounts</li>
            <li class="feature__list-item">Scan a friend's QR code to send AE</li>
          </ul>
        </div>
			</div>
<!--
			<div class="feature clearfix">
				<img src="/img/features-browse.png" alt="features-browse">
				<div class="details">

					<img src="/icons/launch.svg" alt="">

					<h2>Browse æpps</h2>
					<p>It is the initial gateway through which you can access all the resources and avenues that have
						been developed on top of the æternity blockchain. The Base æpp gives you access to all
						our æpps. And also external ones.</p>
				</div>
			</div> -->
		</div>
	</div>
</section>
<section class="handle-funds">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>How to handle funds</h2>
        <p class="subtitle">The Base æpp is the quickest way to handle funds, use it for transfering smaller amounts of AE. For handling bigger amounts of funds, use AirGap Vault or the Ledger Nano S.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-container inner-container_wide">
      <div class="handle-funds__cta-item">
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/base-aepp.png" alt="base aepp screen">
          </figure>
          <section class="cta-item__info">
            <h3>Base Aepp</h3>
            <p>With Explorer you can search the æternity test net by block, transaction or address, allowing you to verify interactions in real time</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
              <a href="https://base.aepps.com/#/" class="btn btn_round btn-primary">Launch Base Aepp</a>
            </div>
          </footer>
        </article>
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/airgap.png" alt="airgap wallet screen">
          </figure>
          <section class="cta-item__info">
            <h3>Airgap Vault</h3>
            <p>With Explorer you can search the æternity test net by block, transaction or address, allowing you to verify interactions in real time</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
                <a href="https://airgap.it/airgap-vault/" class="btn btn_round btn-secondary">Visit Airgap</a>
            </div>
          </footer>
        </article>
        <article class="cta-item">
          <figure class="cta-item__img">
            <img src="/img/ledger.png" alt="ledger device">
          </figure>
          <section class="cta-item__info">
            <h3>Ledger Wallet</h3>
            <p>With Explorer you can search the æternity test net by block, transaction or address, allowing you to verify interactions in real time</p>
          </section>
          <footer class="cta-item__btn">
            <div class="btn-wrapper">
              <a href="#" class="btn  btn_round btn-third">Coming Soon</a>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </div>

</section>
<section class="core-apps">
  <div class="container">
    <div class="inner-container">
      <div class="intro">
        <h2>Our Core æpps</h2>
        <p class="subtitle">Our core apps are available to you from the beginning giving you original access to lots of foundational functionality.
        </p>
        <!--
        <a href="./aepps" class="btn btn-small">all æpps</a>
        -->
      </div>
    </div>
  </div>
	<div class="apps">
		<div class="apps-row">
			<div class="container">

				{{ range .Params.coreAppsFirstRow }}
					{{ partial "app-box.html" (index $.Site.Data.aepps .)}}
				{{ end }}

			</div>
		</div>

		<div class="apps-row">
			<div class="container">
				{{ range .Params.coreAppsSecondRow }}
					{{ partial "app-box.html" (index $.Site.Data.aepps .)}}
				{{ end }}
			</div>
		</div>
	</div>
  <div class="apps-row">
      <div class="container">
        {{ range .Params.coreAppsThirdRow }}
          {{ partial "app-box.html" (index $.Site.Data.aepps .)}}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="future-apps">
  <div class="container">
    <div class="inner-container">
      <figure class="future-apps__media">
        <img src="/img/future-apps.png">
      </figure>
      <div class="intro future-apps__text">
        <h2>The Future of the æpps</h2>
        <p class="subtitle">The Base æpp is the quickest way to handle funds, use it for transfering smaller amounts of AE. For handling bigger amounts of funds, use AirGap Vault or the Ledger Nano S.
        </p>
      </div>
    </div>
  </div>
</section>

<!--
<section class="all-apps">
	<div class="container">
		<div class="inner-container">
			<h2>Experimental Example æpps</h2>
			<p class="subtitle">Together with our community we are constantly concepting, designing and developing new æpps that harness
				the power of blockchain. Check out a full list here or add them in the Base æpp. </p>
			<a href="/aepps" class="btn btn-small">all æpps</a>

			<div class="cards clearfix">
				{{ range .Params.homePageAppCards }}
					{{ partial "card.html" (index $.Site.Data.aepps  .) }}
                {{ end }}
			</div>
		</div>
	</div>
</section>
-->

<section class="social-proof">
	<div class="container">
		<!--
		<div class="inner-container">
			<picture>
				<!-[if IE 9]><video style="display: none;"><![endif]->
				<source srcset="/img/oval@2x.png" media="(min-resolution: 2dppx)">
				<source srcset="/img/oval@2x.png" media="(-webkit-min-device-pixel-ratio: 2)">
				<source srcset="/img/oval@2x.png" media="(min-device-pixel-ratio: 2)">
				<source srcset="/img/oval@3x.png" media="(min-resolution: 3dppx)">
				<source srcset="/img/oval@3x.png" media="(-webkit-min-device-pixel-ratio: 3)">
				<source srcset="/img/oval@3x.png" media="(min-device-pixel-ratio: 3)">
				<source srcset="/img/oval.png">
				<!-[if IE 9]></video><![endif]->
				<img src="/img/oval.png">
			</picture>
			<span>Nils, creator of OÆuth</span>
			<h2>“OÆuth provides trustless authentication. I want people to login with æternity while keeping full control over their data.”</h2>
			<a href="/aepps/oaeuth" class="btn btn-secondary btn-small">View OÆuth</a>
		</div>
		-->
		<!-- <div class="inner-container">
			<p class="subtitle" style="color: #f7296e">
				Some æpps are temporarily disabled while we are porting them from the Ethereum network to our æternity network. Stay tuned for updates!
			</p>
		</div> -->
	</div>
</section>

{{ partial "footer.html" . }}
