<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aeternity aepps Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script>
        /* Create HTML5 elements for IE's sake */
        document.createElement("footer");
        document.createElement("header");
        document.createElement("section");
        document.createElement("main");
        document.createElement("nav");
    </script>

</head>

<body class="cbp-spmenu-push">

    <header>
        <div class="container">
            <a class="logo" href="./">
                <img src="../static/img/logo.svg" alt="Aeternity">
            </a>

            <a href="#all-aepps">All æpps</a>
            <a href="" class="btn">Developer</a>

            <button id="open-menu" class="btn"></button>
        </div>
    </header>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <div class="container">
            <button id="close-menu"></button>
            <ul>
                <li>
                    <a href="#">All æpps</a>
                </li>
                <li>
                    <a href="#">Developer</a>
                </li>
            </ul>

            <div class="secondary-links">
                <a href="">Imprint</a>
            </div>

            <div class="sidebar-icons">
                <div>
                    <a href="">
                        <img src="../static/icons/ic-github-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-medium-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-telegram-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-twitter-white.svg" alt="">
                    </a>
                </div>

                <div>
                    <a href="">
                        <img src="../static/icons/ic-reddit-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-slack-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-facebook-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-linkedin-white.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </nav>

    <main>

        <section class="overview">
            <div class="container">
                <div class="inner-container">
                    <h1>All æpps</h1>
                    <hr>

                    <div class="filter">
                        <span class="current">All</span>
                        <ul class="dropdown">
                            <li>All</li>
                            <li>Core æpp</li>
                            <li>Community æpp</li>
                            <li>Alpha</li>
                            <li>Beta</li>
                            <li>Kovan Test Net</li>
                            <li>Ethereum Main Net</li>
                        </ul>
                    </div>

                    <div class="cards clearfix">
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/response.svg" alt="">
                                <span>Messenger</span>
                                <strong>Write messages in a state channel.</strong>
                                <span class="right">
                                    <span class="tag tag-third">CORE æpp</span>
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">Concept</span>
                                </span>
                            </a>
                        </div>
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/identity.svg" alt="">
                                <span>Chærity</span>
                                <strong>Ask and support questions for a good cause.</strong>
                                <span class="right">
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">KOVAN TEST NET</span>
                                </span>

                            </a>
                        </div>
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/message-wall.svg" alt="">
                                <span>The Wall</span>
                                <strong>Post content and receive contributions.</strong>
                                <span class="right">
                                    <span class="tag tag-secondary">ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">KOVAN TEST NET</span>
                                </span>
                            </a>
                        </div>

                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/response.svg" alt="">
                                <span>Messenger</span>
                                <strong>Write messages in a state channel.</strong>
                                <span class="right">
                                    <span class="tag tag-third">CORE æpp</span>
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">Concept</span>
                                </span>
                            </a>
                        </div>
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/identity.svg" alt="">
                                <span>Chærity</span>
                                <strong>Ask and support questions for a good cause.</strong>
                                <span class="right">
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">KOVAN TEST NET</span>
                                </span>

                            </a>
                        </div>
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/message-wall.svg" alt="">
                                <span>The Wall</span>
                                <strong>Post content and receive contributions.</strong>
                                <span class="right">
                                    <span class="tag tag-secondary">ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">KOVAN TEST NET</span>
                                </span>
                            </a>
                        </div>

                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/response.svg" alt="">
                                <span>Messenger</span>
                                <strong>Write messages in a state channel.</strong>
                                <span class="right">
                                    <span class="tag tag-third">CORE æpp</span>
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">Concept</span>
                                </span>
                            </a>
                        </div>
                        <div class="card-col">
                            <a class="card">
                                <img src="../static/icons/identity.svg" alt="">
                                <span>Chærity</span>
                                <strong>Ask and support questions for a good cause.</strong>
                                <span class="right">
                                    <span class="tag tag-secondary">PRE-ALPHA</span>
                                </span>
                                <span class="right">
                                    <span class="tag">KOVAN TEST NET</span>
                                </span>

                            </a>
                        </div>

                    </div>

                    <div class="center">
                        <a href="./" class="btn btn-small">Back to overview</a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="clearfix">
        <div class="container">
            <div class="inner-container">
                <div class="presentation">
                    <a class="logo" href="https://www.aeternity.com/" target="_blank">
                        <img src="../static/img/logo-big.svg" alt="">
                    </a>
                    <p>Scalable smart contracts interfacing with real world data</p>
                    <span>&copy;
                        <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                    </span>
                </div>


                <div class="footer-nav">
                    <div class="links menu">
                        <ul>
                            <li>
                                <a href="">All æpps</a>
                            </li>
                            <li>
                                <a href="">Developer</a>
                            </li>
                            <li>
                                <a href="">Imprint</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-github.svg" alt="">Github</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-reddit.svg" alt="">Reddit</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-medium.svg" alt="">Medium</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-slack.svg" alt="">Slack</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-telegram.svg" alt="">Telegram</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-facebook.svg" alt="">Facebook</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-twitter.svg" alt="">Twitter</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-linkedIn.svg" alt="">LinkedIn</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </footer>

    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>