<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aeternity aepps Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script>
        /* Create HTML5 elements for IE's sake */
        document.createElement("footer");
        document.createElement("header");
        document.createElement("section");
        document.createElement("main");
        document.createElement("nav");
    </script>

</head>

<body>

    <header>
        <div class="container">
            <a class="logo" href="./">
                <img src="../static/img/logo.svg" alt="Aeternity">
            </a>

            <a href="#all-aepps">All æpps</a>
            <a href="" class="btn">Developer</a>

            <button id="open-menu" class="btn"></button>
        </div>
    </header>

    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <div class="container">
            <button id="close-menu"></button>
            <ul>
                <li>
                    <a href="#">All æpps</a>
                </li>
                <li>
                    <a href="#">Developer</a>
                </li>
            </ul>

            <div class="sidebar-icons">
                <div>
                    <a href="">
                        <img src="../static/icons/ic-github-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-medium-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-telegram-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-twitter-white.svg" alt="">
                    </a>
                </div>

                <div>
                    <a href="">
                        <img src="../static/icons/ic-reddit-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-slack-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-facebook-white.svg" alt="">
                    </a>
                    <a href="">
                        <img src="../static/icons/ic-linkedin-white.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

    </nav>

    <main>

        <section class="hero-single">
            <div class="container">
                <div class="inner-container">
                    <div class="app-icon">
                        <img src="../static/icons/notary.svg" alt="">
                    </div>
                    <h2>Proof</h2>
                    <p class="subtitle">The Proof æpp allows you to prove that something (image, PDF, audio file etc.) existed at a certain point
                        in time. By storing hashes on the chain, users can verify details like time and date, creating accessible
                        and consolidated proof of liability.</p>
                    <a href="./" class="btn btn-small">all æpps</a>
                    <div>
                        <a href="" class="btn btn-secondary btn-small btn-square">ALPHA</a>
                        <a href="" class="btn btn-small btn-square">KOVAN TEST NET</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="app-review">
            <div class="container">
                <div class="inner-container">
                    <div class="icons">
                        <a href="">
                            <img src="../static/icons/ic-github.svg" alt="" />
                        </a>
                        <a href="">
                            <img src="../static/icons/ic-slack.svg" alt="" />
                        </a>
                        <a href="">
                            <img src="../static/icons/ic-facebook.svg" alt="" />
                        </a>
                    </div>

                    <h3>About the æpp</h3>
                    <p>Accessible accountability hosted by hashes on the chain, Proof allows users to securely and accurately
                        prove liability. By authenticating the state of something at a given time through image, text or
                        audio files, users can easily confirm ownership, authorship or original existence.</p>

                    <h3>How it works</h3>
                    <p>By harnessing the power of smart contracts, Proof creates virtually un-editable hashes that identify
                        each transaction. It combines the users original identifier or identity, adds the time, date, and
                        details of the transaction or verification event and stores this data in a decentralized location
                        off chain. While the files themselves are stored off chain, the hash is saved on the chain to ensure
                        fast transactions. All hashes are then compared to each other to ensure no repeats, further confirming
                        their originality. An excellent original use case for Proof might be when a user wishes to rent a
                        car and needs to prove all details of the transaction and store the info in a trustless location.
                        In this instance, images of dents, pictures of contract signatures and audio files of conversations
                        about the rental could be hosted by Proof to guarantee the proper assignment of liability for the
                        entire transaction.</p>

                    <h3>The future</h3>
                    <p>Improving upon the original idea of a “notary”, the Proof æpp creates a trustless environment within
                        various levels of legal transactions by serving as a virtual 3rd party to verify existence. Although
                        there are many possible future applications, Proof could ultimately become a kind a patent office
                        for new ideas, artworks, and algorithms. This could serve to authenticate, legalize and originate
                        all manner of literal and intellectual property.</p>

                    <hr>

                    <h3>How it looks like</h3>
                    <div class="screenshots clearfix">
                        <img src="../static/img/tmp1.png" alt="" />
                        <img src="../static/img/tmp2.png" alt="" />
                        <img src="../static/img/tmp1.png" alt="" />
                        <img src="../static/img/tmp2.png" alt="" />
                    </div>
                    <hr>

                    <h3>Similar æpps</h3>

                    <div class="cards clearfix">
                        <div class="card-col">
                            <div class="card">
                                <img src="../static/icons/response.svg" alt="">
                                <span>Messenger</span>
                                <h3>Write messages in a state channel.</h3>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-third btn-square">CORE æpp</a>
                                    <a href="" class="btn btn-small btn-secondary btn-square">PRE-ALPHA</a>
                                </div>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-square">Concept</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-col">
                            <div class="card">
                                <img src="../static/icons/identity.svg" alt="">
                                <span>Chærity</span>
                                <h3>Ask and support questions for a good cause.</h3>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-square btn-secondary">PRE-ALPHA</a>
                                </div>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-square">KOVAN TEST NET</a>
                                </div>

                            </div>
                        </div>
                        <div class="card-col">
                            <div class="card">
                                <img src="../static/icons/message-wall.svg" alt="">
                                <span>The Wall</span>
                                <h3>Post content and receive contributions.</h3>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-square btn-secondary">ALPHA</a>
                                </div>
                                <div class="right">
                                    <a href="" class="btn btn-small btn-square">KOVAN TEST NET</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="center">
                        <a href="./" class="btn btn-small">Back to overview</a>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer class="clearfix">
        <div class="container">
            <div class="inner-container">
                <div class="presentation">
                    <a class="logo" href="https://www.aeternity.com/" target="_blank">
                        <img src="../static/img/logo-big.svg" alt="">
                    </a>
                    <p>Scalable smart contracts interfacing with real world data</p>
                    <span>&copy;
                        <a href="https://www.aeternity.com/" target="_blank">aeternity.com</a>
                    </span>
                </div>


                <div class="footer-nav">
                    <div class="links menu">
                        <ul>
                            <li>
                                <a href="">All æpps</a>
                            </li>
                            <li>
                                <a href="">Developer</a>
                            </li>
                            <li>
                                <a href="">Imprint</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-github.svg" alt="">Github</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-reddit.svg" alt="">Reddit</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-medium.svg" alt="">Medium</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-slack.svg" alt="">Slack</a>
                            </li>
                        </ul>
                    </div>
                    <div class="links icons">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-telegram.svg" alt="">Telegram</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-facebook.svg" alt="">Facebook</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-twitter.svg" alt="">Twitter</a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../static/icons/ic-linkedIn.svg" alt="">LinkedIn</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </footer>

    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>