{{ partial "header.html" . }}
<section class="hero">
	<h2>WELCOME TO THE</h2>
	<div class='grid'>
		<div class="left">
			<h1 class='hero-headline'>{{ .Title }}</h1>
		</div>
		<div class="hero-text right">
			{{ .Content }}
		</div>
	</div>
</section>
<section class="apps">
	<h2></h2>
	<div class="app-list">
	{{ range (where .Data.Pages "Section" "!=" "") }}
		<div class="app">
			<div class="grid">
			<div class="app-icon">
				<img src="/icons/{{.Params.icon}}" alt="">
			</div>
			<div>
				<div class="app-wip">HACKATHON æpp</div>
				<div class="app-title">{{ .Title }}</div>
			</div>
			</div>
			<p class="app-description">{{ .Description }}</p>
			<div class="align-right">
				<a href='{{ .URL }}' class='exciting button'>More Info</a>
				<a href='{{ .Params.voteurl }}' target='_blank' class='button'>Vote</a>
			</div>
		</div>
	{{ end }}
	</div>
</section>
{{ partial "footer.html" . }}
