{{ partial "header.html" . }}
{{ .Content }}
		<section class="hero">
			<h2>Welcome to</h2>
			<div class='grid'>
				<div class="left">
					<h1 class='hero-headline'>the æternity æpp portal</h1>
				</div>
				<div class="hero-text right">
					<p>Here you will find the æpps we are working on and which we would like our community to test.</p>
					<p>We encourage you to read the description of each app and to try it out of course! Share your feedback in our <a target="_blank" href="https://telegram.me/aeternity">Telegram chat</a>.</p>
				</div>
			</div>
		</section>
		<section class="apps">
			<h3>All æpps</h3>
			<div class="app-list">
				<div class="app full-width">
					<div class="grid">
					<div class="app-icon">
						<img src="/icons/app-icon-notary.svg" alt="">
					</div>
					<div>
						<div class="app-wip">alpha</div>
						<div class="app-title">Identity Manager</div>
					</div>
					</div>
					<p class="app-description">The Identity Manager æpp allows you to manage the identies used to sign into all æpps. It also allows you to manage the balances associated with each identity and transfer balances between identities.</p>
					<div class="align-right">
						<a href='http://identity.aepps.com/' target='_blank' class='button'>Launch</a>
					</div>
				</div>
				<div class="app">
					<div class="grid">
					<div class="app-icon">
						<img src="/icons/app-icon-notary.svg" alt="">
					</div>
					<div>
						<div class="app-wip">alpha</div>
						<div class="app-title">Notary æpp</div>
					</div>
					</div>
					<p class="app-description">The Notary æpps allows a user to prove that a given file (image, PDF, etc.) existed at a certain point in time.</p>
					<div class="align-right">
						<a href='http://notary.aepps.com/' target='_blank' class='button'>Launch</a>
					</div>
				</div>
				<div class="app">
					<div class="grid">
						<div class="app-icon">
							<img src="/icons/app-icon-voting.svg" alt="">
						</div>
						<div>
							<div class="app-wip">beta</div>
							<div class="app-title">Voting æpp</div>
						</div>
					</div>
					<p class="app-description">The Voting æpp allows users to submit a proposition and vote (agree or disagree) on existing propositions.</p>
					<div class="align-right">
						<a href='https://vote.aepps.com/#/' target='_blank' class='button'>Launch</a>
					</div>
				</div>
				<div class="app">
					<div class="grid">
						<div class="app-icon">
							<img src="/icons/app-icon-message-wall.svg" alt="">
						</div>
						<div>
							<div class="app-wip">pre alpha</div>
							<div class="app-title">Message Wall</div>
						</div>
					</div>
					<p class="app-description">The Message Wall æpp allows a user to post a piece of content (or a link) and for other users to contribute AE tokens to the account of the user who made the post.</p>
					<div class="align-right">
						<a href='https://wall.aepps.com/' target='_blank' class='button'>Launch</a>
					</div>
				</div>
				<div class="app">
					<div class="grid">
						<div class="app-icon">
							<img src="/icons/app-icon-response.svg" alt="">
						</div>
						<div>
							<div class="app-wip">pre alpha</div>
							<div class="app-title">Response æpp</div>
						</div>
					</div>
					<p class="app-description">The Response æpp allows a user to ask a person with a Twitter account a question. If the responder answers the question within its time limit, the value of the tokens is donated to a non-profit organization, which the user who posed the question chose. Other users can add value to the answer by contributing additional tokens to the question. </p>
					<div class="align-right">
						<div href='' class='button disabled'>Coming Soon</div>
					</div>
				</div>
			</div>
		</section>
		<section class="blog">
			<h3>Blog Updates</h3>
			<div class="post-list">
				<div class="post">
					<h4 class="post-title">
						æpps Hackathon
					</h4>
					<p class="post-excerpt">
						We are happy to announce a 3 week-long online hackathon. Apply your creativity and develop an award-winning æpp! Prizes await.
					</p>
					<div class="align-right">
						<a target='_blank' class="button" href="https://blog.aeternity.com/aepps-hackathon-16e2d4f3e7d4">
							read post
						</a>
					</div>
				</div>
				<div class="post">
					<h4 class="post-title">
						State of development: Week of Oct 23rd, 2017
					</h4>
					<p class="post-excerpt">
					Update from æternity’s Elixir team and news about core blockchain development.
					</p>
					<div class="align-right">
						<a target='_blank' class="button" href="https://blog.aeternity.com/state-of-development-week-of-oct-23th-2017-b11b78227048">
							read post
						</a>
					</div>
				</div>
				<div class="post">
					<h4 class="post-title">
						Update on æpps development &amp; first æpp bounty [COMPLETED]
					</h4>
					<p class="post-excerpt">
					Announcing æternity’s æpps team development path and the first æpp bounty.
					</p>
					<div class="align-right">
						<a target='_blank' class="button" href="https://blog.aeternity.com/update-on-%C3%A6pps-development-first-%C3%A6pp-bounty-d1207de26302">
							read post
						</a>
					</div>
				</div>
				<div class="post">
					<h4 class="post-title">
						State of development: Week of Oct 16th, 2017
					</h4>
					<p class="post-excerpt">
					Full steam ahead.
					</p>
					<div class="align-right">
						<a target='_blank' class="button" href="https://blog.aeternity.com/state-of-development-week-of-oct-16th-2017-9ec92e54b978">
							read post
						</a>
					</div>
				</div>
				<div class="post">
					<h4 class="post-title">
						State of development: Weeks of Oct 2nd–13th, 2017
					</h4>
					<p class="post-excerpt">
					A lot happened in the two weeks since our last update and we are excited to tell you all about it!
					</p>
					<div class="align-right">
					<a target='_blank' class="button" href="https://blog.aeternity.com/state-of-development-weeks-of-oct-2-13-2017-a5f4bba82ecd">
						read post
					</a>
					</div>
				</div>
				<div class="post">
					<h4 class="post-title">
						New æternity Epoch Release: 0.2.0
					</h4>
					<p class="post-excerpt">
					We are thrilled to announce the next major release on æternity’s development schedule.
					</p>
					<div class="align-right">
						<a target='_blank' class="button" href="https://blog.aeternity.com/new-%C3%A6ternity-epoch-release-0-2-0-1e96b7994592">
							read post
						</a>
					</div>
				</div>
			</div>
		</section>
{{ partial "footer.html" . }}
